@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Wellcome to my little demo of webapp CI\CD</a>.</p>
    <img src="https://1.bp.blogspot.com/-VN5KgQLnjoM/XdYPncsv45I/AAAAAAAAhGo/8pukIIDbs4YbvEiMgGxwxzJjQUbXg8VYgCLcBGAsYHQ/s1600/hello-1907233_640.png" alt="Hellos" /><!--EndFragment-->
</div>
